.body {
    background-image: linear-gradient(rgb(1, 1, 63), black, rgb(1, 1, 36));
    background-color: blanchedalmond;
    height: 1300px;
}

.navbar {
    width: 100%;
    height: 4.01em;
    background-image: linear-gradient(rgb(21, 36, 235), rgb(66, 172, 243));
    position: fixed;
    -webkit-transform-style: flat;
}

.heading {
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 600;
    padding-left: 5%;
    color: beige;
    padding-left: 7.5em;
}

.details {
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    left: 80%;
    font-size: 20px;
}

.quote {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: inline-block;
    font-weight: 1000;
}

.tasks {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-repeating-linear-gradient(rgb(1, 26, 32), rgb(1, 1, 37), black);
}

.taski {
    width: 90%;
    color: rgb(65, 42, 165);
    border-radius: 1.2em;
    height: 2.6em;
}

.yourtask1 {
    width: 70%;
    background-image: -webkit-repeating-linear-gradient(rgb(3, 55, 70), rgb(1, 71, 104), black);
    margin-left: auto;
    margin-right: auto;
}

#submit {
    height: 3.6em;
    width: 6.6em;
    border-radius: 1.2em;
    color: white;
    background-image: linear-gradient(rgb(37, 36, 36), rgb(94, 93, 93));
    font-weight: 600;
}

.feature {
    background-image: url("curve.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.timer {
            width: 75%;
            margin: 0 auto;
        }
        
        #start {
            width: 25%;
            height: 50px;
            border: solid;
            border-color: rgb(8, 110, 110);
            border-radius: 1.3em;
        }
        
        #start:hover {
            background-image: linear-gradient(rgb(1, 1, 37), rgb(50, 50, 51));
            color: wheat;
        }
        
        #stop {
            width: 25%;
            height: 50px;
            border: solid;
            border-color: rgb(8, 110, 110);
            border-radius: 1.3em;
        }
        
        #stop:hover {
            background-image: linear-gradient(rgb(1, 1, 37), rgb(50, 50, 51));
            color: wheat;
        }
        
        #reset {
            width: 25%;
            height: 50px;
            border: solid;
            border-color: rgb(8, 110, 110);
            border-radius: 1.3em;
        }
        
        #reset:hover {
            background-image: linear-gradient(rgb(1, 1, 37), rgb(50, 50, 51));
            color: wheat;
        }
        
        .minutes {
            padding: 10px;
            height: 3.5em;
            border: solid;
            border-color: beige;
        }
        
        .seconds {
            padding: 10px;
            height: 3.5em;
            border: solid;
            border-color: beige;
        }
        
        .row {
            margin: 0 auto;
        }
        
        #minutes {
            font-weight: 700;
            color: rgb(1, 1, 29);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        #seconds {
            font-weight: 700;
            color: rgb(1, 1, 29);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
